Django
pillow
pymorphy2
fuzzywuzzy
psycopg2
requests
boto3
sqlalchemy
django-storages
django-constance
django_ckeditor_5
sorl-thumbnail
python-Levenshtein
redis
lxml
fb2reader
catpandoc
beautifulsoup4
bs4
sorl-thumbnail
epy-reader
ebooklib